body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    padding: 2rem;
}
section {
    margin-bottom: 2rem;
}
nav {
    background-color: #1fcbd1; /* Nuevo color de fondo para nav */
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white; /* Texto blanco */
    background-color: #1fcbd1; /* Nuevo color de fondo para los enlaces */
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #1273f3; /* Nuevo color al pasar el ratón */
    text-decoration: none;
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
section {
    text-align: center;
    background-color: #c6d6db; /* Fondo blanco un poquito oscuro */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 1rem;
    margin: 2rem auto; /* Centramos el section en la página */
    max-width: 800px; /* Ancho máximo para el section */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar un poco de profundidad */
}
#info a{
    color: #1f49d1; /* Nuevo color para los enlaces del footer */
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#objetivos a{
    color: #1f49d1; /* Nuevo color para los enlaces del footer */
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#consecuencias a{
    color: #1f49d1; /* Nuevo color para los enlaces del footer */
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#dificultades a{
    color: #1f49d1; /* Nuevo color para los enlaces del footer */
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#noticias a{
    color: #1f49d1; /* Nuevo color para los enlaces del footer */
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
a img{
    display: block;
    margin: 0 auto;
}
h1 {
    color: #173aaf; /* Nuevo color para los títulos */
    
}